
body {

background: url(/home/pc/Desktop/solo/duaa-alzobaide-solo/Game-Of-Thrones-Stark-Wallpaper-Star-ULTRA-HD-Textures.jpg) no-repeat center center fixed;
-webkit-background-size: cover;*/
-moz-background-size: cover;*/
-o-background-size: cover;
background-size: cover;

}

.wrapper {
width: 800px;
margin: 30px auto;
text-align:center;
}

h1 {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 4em;
  text-transform: uppercase;
  color :white;
  text-shadow: 4px 4px grey;
}

#minutes {
  font-size:6em;
  color: white;


}

#seconds {

	font-size: 4em;
}

 #tens{

 	font-size: 2em;
 }

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}



p span {
  
color: white;
size: 4em;

}

button{
background:none;
color:#ffffff;
border: solid 1px #ffffff;
text-decoration:none;
cursor:pointer;
font-size:1.2em;
padding:18px 10px;
width:180px;
margin: 10px;
 outline: none;
  
}

button:hover{
  
  background:#ffffff;
  border: solid 1px #ffffff;
  color:grey;
  }

#lapsList {

	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

ul {


}

li {
  font-weight: bold;
  font-size: 2em;
  list-style: none;

}




