.form-container {

    
	position: absolute;
	top: 30vh;
	background-color: white;
	padding : 30px;
	border-radius:  20px;
	box-shadow: 0px 0px 30px  #99ccff;



}

.row {

	justify-content: center;

}


.bl {

	background-image: url("/home/pc/Desktop/solo/duaa-alzobaide-solo/polishing skills project (week off)/beautiful-wallpaper-download-14.jpg") ; 
	width: 100%;
	height: 100vh

	

} 


.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}



.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}


.form-control{
    border-radius:1.5rem;
}


.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

#form2 {


	position: absolute;
	top: 15vh;
	background-color: white;
	padding : 50px;
	border-radius:  20px;
	box-shadow: 0px 0px 30px  #99ccff;

}


body{
background-image: url("/home/pc/Desktop/solo/duaa-alzobaide-solo/polishing skills project (week off)/beautiful-wallpaper-download-14.jpg") ; 
	width: 100%;
	height: 100vh


}